@import "../defines.scss";

.cart-item{
    width: 100%;
    height: calc(var(--index) * 4);
    border-bottom: 1px solid $grey;
    margin-bottom: calc(var(--index) * .7);
    &__container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: calc(var(--index) * .3);

        &__img{
            height: 100%;
        }

        &__first-column{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: calc(var(--index) * 1);

            &__title{
                font-size: $smallTextSize;
            }

            &__quantity{
                width: max-content;
                display: flex;
                align-items: center;
                gap: calc(var(--index) * .8);
                border: 1px solid $grey;
                border-radius: 5px;
                padding: 0 calc(var(--index) * .4);
                &__btn{
                    background: none;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    font-size: $bigTextSize;
                    font-weight: 400;
                }
            }
        }

        &__second-column{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            gap: calc(var(--index) * 1.2);

            &__btn{
                background: none;
                outline: none;
                border: none;
                cursor: pointer;
                font-size: $defaultTextSize;
            }

            &__price{
                font-size: $smallTextSize;
            }
        }
    }
}