@import "../defines.scss";

.home {
    width: 100%;
    height: max-content;

    &__container {
        width: 100%;
        height: 100%;
        padding: calc(var(--index) * 2) calc(var(--index) * 3) calc(var(--index) * 3) calc(var(--index) * 3);

        .hero {
            width: 100%;
            height: 95vh;
            background: url('../../images/hero-back-3.jpg');
            background-position: center 20%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;

            .item-card {
                width: calc(var(--index) * 20);
                height: calc(var(--index) * 10);
                background-color: $opacityWhite;
                border-radius: calc(var(--index) * .6);
                position: absolute;
                bottom: calc(var(--index) * 3);
                right: calc(var(--index) * 3);

                &__container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;

                    overflow: hidden;

                    &__img {
                        width: 44%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: calc(var(--index) * .6) 0 0 calc(var(--index) * .6);
                    }

                    &__info {
                        width: 50%;
                        padding: calc(var(--index) * .6) calc(var(--index) * .6) calc(var(--index) * .6) calc(var(--index) * 1.4);

                        p {
                            font-size: $defaultTextSize;
                            text-transform: uppercase;
                            color: $defaultBlack;
                        }

                        &__btn {
                            background: none;
                            outline: none;
                            border: none;
                            font-size: $defaultTextSize;
                            float: right;
                            cursor: pointer;
                            opacity: .9;
                            transition: .4s;
                            margin-right: calc(var(--index) * -1.2);

                            img {
                                width: calc(var(--index) * 1.2);
                            }

                            &:hover {
                                opacity: .5;
                                transition: .4s;
                            }
                        }

                        &__title {
                            padding-bottom: calc(var(--index) * .9);
                            font-weight: 600;
                            margin-top: calc(var(--index) * 1.2);
                        }

                        &__price {
                            padding-bottom: calc(var(--index) * 1.3);
                        }
                    }
                }
            }
        }

        .main {
            width: 100%;
            height: max-content;

            &__container {
                width: 100%;
                padding: calc(var(--index) * 2) 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                &__head {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    &__filter {
                        &__btn {
                            font-size: $defaultTextSize;
                            background: none;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            gap: calc(var(--index) * .3);
                            color: $defaultBlack;

                            img {
                                width: calc(var(--index) * .8);
                                height: calc(var(--index) * .8);
                            }
                        }
                    }

                    &__title {
                        font-size: $defaultTextSize;
                        font-weight: 600;
                    }

                    &__sort {
                        &__btn {
                            font-size: $defaultTextSize;
                            background: none;
                            border: none;
                            outline: none;
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            gap: calc(var(--index) * .3);
                            color: $defaultBlack;

                            img {
                                width: calc(var(--index) * .8);
                                height: calc(var(--index) * .8);
                            }
                        }
                    }
                }

                &__items {
                    display: flex;
                    justify-content: center;
                    margin-top: calc(var(--index) * 3);
                    row-gap: calc(var(--index) * 2);
                    column-gap: calc(var(--index) * .3);
                    flex-wrap: wrap;
                }

                &__more-items {
                    margin-top: calc(var(--index) * 3.5);
                    background: none;
                    outline: none;
                    border: none;
                    font-size: $defaultTextSize;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}


@media (max-width: 680px) {
    .home {
        &__container {
            .hero {
                .item-card {
                    width: 80%;
                    height: calc(var(--index) * 17);
                    right: calc(var(--index) * 0);

                    &__container {

                        &__info {
                            width: 50%;
                            padding: calc(var(--index) * 2) calc(var(--index) * .6) calc(var(--index) * .6) calc(var(--index) * 1.4);

                            p {
                                font-size: $fontForPhone;
                                text-transform: uppercase;
                                color: $defaultBlack;
                            }

                            &__btn {
                                background: none;
                                outline: none;
                                border: none;
                                font-size: $fontForPhone;
                                float: right;
                                cursor: pointer;
                                opacity: .9;
                                transition: .4s;
                                margin-right: calc(var(--index) * -1.2);
                                margin-top: calc(var(--index) * -1);

                                img {
                                    width: calc(var(--index) * 2.4);
                                }

                                &:hover {
                                    opacity: .5;
                                    transition: .4s;
                                }
                            }

                            &__title {
                                padding-bottom: calc(var(--index) * .9);
                                font-weight: 600;
                                margin-top: calc(var(--index) * 1.2);
                            }

                            &__price {
                                padding-top: calc(var(--index) * 1);
                                padding-bottom: calc(var(--index) * 2);
                            }
                        }
                    }
                }
            }

            .main {
                &__container {
                    &__head {

                        &__filter {
                            &__btn {
                                font-size: $fontForPhone;

                                img {
                                    width: calc(var(--index) * 1.4);
                                    height: calc(var(--index) * 1.4);
                                }
                            }
                        }

                        &__title {
                            font-size: $fontForPhone;

                        }

                        &__sort {
                            &__btn {
                                font-size: $fontForPhone;

                                img {
                                    width: calc(var(--index) * 1.4);
                                    height: calc(var(--index) * 1.4);
                                }
                            }
                        }
                    }

                    &__items {
                        display: flex;
                        justify-content: center;
                        margin-top: calc(var(--index) * 3);
                        row-gap: calc(var(--index) * 4);
                        column-gap: calc(var(--index) * 2);
                        flex-wrap: wrap;
                    }

                    &__more-items {
                        font-size: $fontForPhone;
                    }
                }
            }
        }
    }
}