@import "../defines.scss";

.item-card__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .item-card__modal {
        background: white;
        width: calc(var(--index) * 20);
        height: calc(var(--index) * 30);
        overflow-x: hidden;
        overflow-y: auto;
        padding: calc(var(--index) * .7) calc(var(--index) * 1);
        border-radius: calc(var(--index) * .6);

        .close-btn {
            float: right;
            font-size: $bigTextSize;
            background: none;
            outline: none;
            border: none;
            cursor: pointer;
            transition: .4s;

            &:hover {
                opacity: .5;
                transition: .4s;
            }
        }

        .item-card__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(var(--index) * .8);

            img {
                width: calc(var(--index) * 15);
                margin-top: calc(var(--index) * -2);
            }

            .info {
                width: calc(var(--index) * 15);

                h2 {
                    font-size: $bigTextSize;
                    margin-bottom: calc(var(--index) * .8);
                    font-weight: 600;
                }

                &__description {
                    font-size: $smallTextSize;
                    margin-bottom: calc(var(--index) * 1.4);
                }

                .info-2 {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    &__price {
                        font-size: $bigTextSize;
                        margin-bottom: calc(var(--index) * .6);
                    }
                }
            }

            .item-card__add-to-cart {
                width: 100%;
                cursor: pointer;
                background-color: $blue;
                border: none;
                outline: none;
                font-size: $defaultTextSize;
                padding: calc(var(--index) * .4) calc(var(--index) * .2);
                border-radius: calc(var(--index) * .25);
                color: $defaultWhite;
                transition: .4s;

                &:hover {
                    opacity: .5;
                    transition: .4s;
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .item-card__overlay {
        .item-card__modal {
            width: calc(var(--index) * 30);
            height: calc(var(--index) * 40);
            padding: calc(var(--index) * .7) calc(var(--index) * 1.3);
            border-radius: calc(var(--index) * .6);

            .close-btn {
                float: right;
                font-size: calc(var(--index) * 2);
            }

            .item-card__content {
                gap: calc(var(--index) * 1.2);

                img {
                    width: calc(var(--index) * 22);
                    margin-top: calc(var(--index) * -1);
                }

                .info {
                    width: calc(var(--index) * 22);

                    h2 {
                        font-size: calc(var(--index) * 1.6);
                        margin-bottom: calc(var(--index) * 1.2);
                        font-weight: 600;
                    }

                    &__description {
                        font-size: calc(var(--index) * 1.2);
                        margin-bottom: calc(var(--index) * 2);
                    }

                    .info-2 {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        &__price {
                            font-size:calc(var(--index) * 1.6);
                            margin-bottom: calc(var(--index) * 1.2);
                        }
                    }
                }

                .item-card__add-to-cart {
                    width: calc(var(--index) * 22);
                    font-size: $fontForPhone;
                    padding: calc(var(--index) * .7) calc(var(--index) * .2);
                }
            }
        }
    }
}