@import "../defines.scss";

.item {
    width: calc(var(--index) * 14.8);
    height: calc(var(--index) * 20);
    background-color: $defaultWhite;
    cursor: pointer;

    &__container {
        width: 100%;
        height: 100%;

        &__btn {
            background: none;
            outline: none;
            border: none;
            float: right;
            cursor: pointer;
            opacity: .8;
            transition: .4s;

            &:hover {
                opacity: .5;
                transition: .4s;
            }

            img{
                width: calc(var(--index) * 1.2);
                height: calc(var(--index) * 1.2);
            }
        }

        &__img {
            width: 100%;
            height: 80%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &__info {
            margin: calc(var(--index) * .8) 0;

            &__title {
                font-size: $defaultTextSize;
                color: $opacityText;
            }

            &__price {
                font-size: $bigTextSize;
                margin-top: calc(var(--index) * .3);
            }
        }
    }
}