@import "../defines.scss";

.header{
    width: 100%;
    height: max-content;
    position: fixed;
    background-color: $defaultWhite;
    z-index: 99;

    &__container{
        padding: calc(var(--index) * 1.2) calc(var(--index) * 3);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: calc(var(--index) * 1);

        &__left-nav{
            display: flex;
            flex-direction: row;
            gap: calc(var(--index) * 2);

            & > *{
                font-size: $defaultTextSize;
                text-transform: uppercase;
                text-decoration: none;
                color: $defaultBlack;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        &__right-nav{
            display: flex;
            flex-direction: row;
            gap: calc(var(--index) * 2);

            & > *{
                font-size: $defaultTextSize;
                text-transform: uppercase;
                text-decoration: none;
                color: $defaultBlack;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        &__logo{
            font-family: "Big Shoulders Stencil", sans-serif;
            font-size: calc(var(--index) * 1.5);
            text-decoration: none;
            color: $defaultBlack;
        }
    }
}