@import "../defines.scss";

.cart{
    background-color: $defaultWhite;
    position: absolute;
    width: calc(var(--index) * 14);
    min-height: calc(var(--index) * 3);
    max-height: calc(var(--index) * 16);
    right: calc(var(--index) * 3);
    top: calc(var(--index) * 4);
    overflow-x: hidden;
    overflow-y: auto;

    &__container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: calc(var(--index) * .7);
        padding-bottom: calc(var(--index) * .7);

        &__alert{
            font-size: $defaultTextSize;
            text-align: center;
        }

        &__btn{
            margin-top: auto;
            width: 100%;
            cursor: pointer;
            background-color: $lightBlue;
            border: 1px solid $grey;
            font-size: $defaultTextSize;
            display: block;
            text-align: center;
            text-decoration: none;
            color: $defaultBlack;
            padding: calc(var(--index) * .2) calc(var(--index) * .2);
            border-radius: calc(var(--index) * .25);
            margin-top: calc(var(--index) * .5);
            transition: .4s;

            &:hover{
                opacity: .5;
                transition: .4s;
            }
        }
    }
}