@import "../defines.scss";

.footer {
    width: 100%;
    height: max-content;
    border-top: 1.5px solid $grey;

    &__container {
        width: 100%;
        height: max-content;
        display: flex;
        justify-content: space-between;
        padding: calc(var(--index) * 1.8) calc(var(--index) * 3);

        &__brand {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__title {
                font-size: calc(var(--index) * 4.5);
                font-family: "Big Shoulders Stencil", sans-serif;
            }
        }

        &__navigation {
            width: 45%;
            display: flex;
            justify-content: space-between;

            &__column {
                &__title {
                    padding-bottom: calc(var(--index) * 1.6);
                    font-size: $defaultTextSize;
                    font-weight: 600;
                }

                &__list {
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--index) * .6);

                    &__item {
                        list-style: none;

                        &__link {
                            font-size: $defaultTextSize;
                            color: $defaultBlack;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }
    }
}